.container {
    display: flex;
}

.footer {
    width: 30%;
}

.header {
    width: 20%;
    padding-left: 50px;
}

.headerContent {
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px 15px 15px 30px;
}

.section {
    width: 50%;
}

@media screen and (max-width:480px){
    .header {
        display: none;
    }

    .section {
        width: 100%;
    }

    .footer {
        width: 0;
    }
}

@media screen and (min-width:640px) and ( max-width:1030px) {

    
    .img {
        width: 30px;
    }
    
    .header {
        width: 10%;
        padding-left: 0;
    }

    .headerContent {
        padding: 0;
    }

    .section {
        width: 90%;
    }

    .footer {
        display: none;
    }

}

@media screen and (min-width:1024px) {
   
}

@media screen and (min-width:1025px) {
    .img {
        display: none;
    }
   
}