.border {
    background-color: rgb(37, 51, 65);
    height: 10px;
}

.box {
    border-bottom:1px solid #38454d;
    padding:10px 15px 10px;

}

.width {
    border-left:1px solid #38454d;
    border-right:1px solid #38454d;
}

form {
    padding-bottom: 10px;
}

.height {
    min-height: 80px;
}

.home {
    border-bottom:1px solid #38454d;
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
}

.h_home {
    width: 70px;
    line-height: 15px;
}

.h_home:hover {
    border-radius: 50px;
    background-color: rgb(16, 47, 66);
    width: 70px;
    height: 15px;
    margin-top: 10px;
}

.h_whoToFollow {
    width: 145px;
    line-height: 15px;
}

.h_whoToFollow:hover {
    border-radius: 50px;
    background-color: rgb(16, 47, 66);
    width: 145px;
    height: 15px;
}

.h_logOut {
    width: 95px;
    line-height: 15px;
}

.h_logOut:hover {
    border-radius: 50px;
    background-color: rgb(16, 47, 66);
    width: 95px;
    height: 15px;
}

.name {
    font-weight: bold;
    /* padding-top: 10px; */
}


.text {
    color: #ffffff;
    font-size: 15px;
}

.tweet {
    background-color: rgb(29, 161, 242);
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin: 0 0 0 580px;
    position: relative;
    width: 80px;
    
}

